.helpcontainer {
    margin: 40px 120px;
    display: flex;
    gap: 60px;
}
.sidebar {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #009ab2;
    width: 600px;
    height: 280px;
    margin-top: 10px;
    &__list {
        &--item {
            list-style-type: none;
            font-size: 18px;
            padding: 15px 0px;
            color: #0a5d6e;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.component {
    width: 100%;
}

.stillneedhelp {
    border: 3px solid #009ab2;
    background-color: white;
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px 60px;
    margin-bottom: 80px;
}

.contactsection {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;

    &__logo {
        width: 60px;
    }
}
