:root {
    font-family: SUSE, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f3f4;
    // background-color: rgb(39, 38, 38);
    // background-color: #ddd7d7;
    font-family: SUSE, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
